body {
  margin: 0;
  font-size: 16px;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}
.downLinks{
  color: blue;
}
a:hover {
  color: #1976d2;
}
.homePage{
  margin-top: 15px;
  padding-bottom: 50px;
}
.homepageBtn{
  font-weight: bold !important;
}
.text-center {
  text-align: center;
}

.top-bar {
  padding: 15px 15px;
  background-color: #5BCCE7;
  margin-top: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
  padding-top: 7px;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.footerLinks{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    margin-top: 40px;
}
.homeButtons{
  padding-bottom: 65px;
   text-align: center;
}
@media (min-width:700px){ 
    #root{
      width: 60%;
      margin: 0 auto;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px){
  .container {
    padding-right: 15px;
  }
}

.textCenter{
  text-align: center;
}
.left{
  float: left;
}

.right{
  float: right;
}

.floatNone{
  float: none;
}
.card-heading {
  padding: 14px;
}

.field-line, .button-line {
  padding: 12px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.ajaxLoader{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  z-index:9;
  top: 20%;
}